
						//- Need to set up modal that opens at page load.
						//- modal 1 - 
						//- 	bcode scan with tvlength input or not a tv button
						//- 	if (tvLength => 40) {
						//- 		Nope 
						//- 	}else{
						//- 		modal #2
						//- 	}

						//- modal #2 
						//- 	ask weight
						//- 	if (weigth =>50){
						//- 		Modal #3
						//- 	}else{
						//- 		nope
						//- 	}
						//- modal # 3
						//- 	Ask Dims 
						//- 	if (dims ){
						//- 		yup
						//- 	}else{
						//- 		nope
						//- 	}










						
						//- console.log(document.forms[0][1].value);
						//- if (document.forms[0][1].value){
						//- 	console.log("yeee");
						//- }else{
						//- 	console.log("nope");
						//- }
						
						//- document.getElementById("girth").innerHTML=z;

						//- if(!x){
						//- 	document.getElementById("length").classList.add('error');
						//- }

						//- if(x == Math.max(x, y, z)){
						//- 	console.log("X");
						//- }else if(y == Math.max(x, y, z)){
						//- 	console.log("Y");
						//- }else if(z == Math.max(x, y, z)){
						//- 	console.log("Z");
						//- }
					}



					<td class="a-size-base prodDetAttrValue"> 2.9 x 6.5 x 7.9 inches; 3 Pounds </td>