extends layout

block content


    p It's Magic!.
    form(action='/action_page.php' onsubmit='myFunction()')
    | Enter name: 
    input(type='text' name='fname')
    input(type='submit' value='Submit')
    script.
        function myFunction() {
            alert("The form was submitted");
        }
    .br
    .br
    .ui.four.column.doubling.stackable.grid.container
        form    
            .ui.form
            .fields
                .field
                label Length
                input(id="length" type='number' placeholder='Length' name='length' value=`${length}`)
                .field
                label Width
                input(type='number' placeholder='Width')
                .field
                label Height
                input(type='number' placeholder='Height')
                .field
                label Weight
                input(type='number' placeholder='Weight')
                br
                button.ui.button(type='submit' onclick="getValueInput()") Submit
        p#valueInput
            script.
                const getValueInput = () =>{
                let inputValue = document.getElementById("domTextElement").value;
                document.getElementById("valueInput").innerHTML = inputValue;
                }
                length.addEventListener("input", function (e) {
                    //- alert(this.value);
                    let l = this.value;
                    console.log(length.value);
                });