extends layout

block content
    .ui.inverted.segment
        .ui.inverted.form.bcode(name="bcode")
            .five.fields
                .field
                p
                .field
                p
                .ui.checkbox
                    input(type='checkbox' id='radio1' onchange='validate()' checked)
                    label Google or naw.
                .field
                    input(id= 'bcode' autocomplete="off" name="bcode" value="" placeholder="BCODE" oninput='')
                .inline.field
                    .ui.submit.button( id="myBtn" onclick='bcode(this.value)') Submit
                .field
                p
                .field
                .field

    .ui.one.column.doubling.stackable.grid.container 
        .ui.raised.very.padded.container.segment
            .ui.inverted.segment.centered
                .field
                p
                iframe#frame(src='')
                .field
                p

    script.
        var input = document.getElementById("bcode");
        input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("myBtn").click();
            }
        });
        function bcode(){
            var input = document.getElementById("bcode").value;
            if (document.getElementById("radio1").checked){
                var url = "https://www.google.com/search?q=" + input;
            }else{
                var url = "http://fcresearch-na.aka.amazon.com/SAT6/results?s=" + input;
            }
            //- window.open(url);
            frame.src=url
        }

        $(".bcode").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
            Console.log("HEYYYY!!!");
            }
        }); 
        