extends layout

block content
	.ui.inverted.header
		.ui.inverted.form.bcode(name="bcode")
			.five.fields
				.field
				p
				.field
				p
				.ui.checkbox
					input(type='checkbox' id='radio1' onchange='validate()' )
					label Amazon or naw.
				.field
					.ui.action.input
						input(id= 'bcode' autocomplete="off" name="bcode" value="" placeholder="BCODE" oninput='')
						button.ui.button( id="myBtn" onclick='bcode(this.value)') Submit
				.field
				p.TextScramble
				.field
				.field
	.ui.container
		.ui.segment
			form#myForm(name="myForm" onload="formCalc2()")
				fieldset
					// .ui.grid
					.ui.form
						.fields
							.field
								label Length
								input#length(autocomplete="off" type="number" pattern="[0-9]*" inputmode="" name="length" value="" placeholder="Length" oninput='formCalc2()')
							.field
								label Width
								input(autocomplete="off" type="number" pattern="[0-9]*" inputmode="numeric" name="width" value="" placeholder="Width" oninput='formCalc2()')
							.field
								label Height
								input(autocomplete="off" type="number" pattern="[0-9]*" inputmode="numeric" name="height" value="" placeholder="Height" oninput='formCalc2()')
							.field
								label Weight
								input(autocomplete="off" type="number" pattern="[0-9]*" inputmode="numeric" name="weigth" value="" placeholder="Weight" oninput='')
							.field
								.ui.checkbox
									input(type='checkbox' id='radio1' onchange='validate()')
									label Tv.
								//- .ui.error.message			
			.ui.card
				.content
					.description
						p
						.ui.huge.ahorizontal.statistic
							.value.centered#girth(value="")
							| 
						.label.large
							| Girth
		.rightcard
			.ui.card
				.content
					.description
						p
						.ui.huge.ahorizontal.statistic
							.value.centered(value="")
							| 
						.label.large
							| 
		
		include includes/bcodeModal
				script.
				  	
					//- if($( ".ui.input" )<40){
					//- 	$( ".ui.input" ).last().addClass( "error" );
					//- }

					$('.ui.form').form({
							fields: {
								length: {
									identifier: 'length',
									rules: [
									{
										type   : 'empty',
										prompt : 'Please enter the length'
									}
									]
								},
							width: {
								identifier: 'width',
								rules: [
								{
									type   : 'empty',
									prompt : 'Please enter the width'
								}
								]
							},
							height: {
								identifier: 'height',
								rules: [
								{
									type   : 'empty',
									prompt : 'Please enter the height'
								}
								]
							},
							weigth: {
								identifier: 'weight',
								rules: [
								{
									type   : 'empty',
									prompt : 'Please enter the weight'
								}
								]
							}
							}
						})
						;

					function formCalc2(){
						
						let x = document.forms[0][1].value;
						let y = document.forms[0][2].value;
						let z = document.forms[0][3].value;
						let w = document.forms[0][4].value;

						var bigNum = Math.max(x, y, z);
						console.log("Max Number is: " + bigNum);

						if(x && y && z){
							var smNums = parseFloat(x) + parseFloat(y) + parseFloat(z) - parseFloat(bigNum);
							var girth = parseFloat(smNums) * 2;
							const toFixed = (n, fixed) => ~~(Math.pow(10, fixed) * n) / Math.pow(10, fixed);
							girth = toFixed(girth + bigNum, 2);
							document.getElementById("girth").innerHTML=girth;
							console.log("Girth is: " + parseFloat(girth));
						}else{
							girth = 0;
							document.getElementById("girth").innerHTML=girth;
							
						}
					}	
					formCalc2()
				script.
					var input = document.getElementById("bcode");
					input.addEventListener("keypress", function(event) {
						if (event.key === "Enter") {
							event.preventDefault();
							document.getElementById("myBtn").click();
						}
					});
					function bcode(){
						var input = document.getElementById("bcode").value;
						if (document.getElementById("radio1").checked){
							var url = "https://www.amazon.com/dp/" + input;
						}else{
							var url = "#" + input;
						}
						window.open(url);
						//- frame.src=url
					}

					$(".bcode").on('keyup', function (e) {
						if (e.key === 'Enter' || e.keyCode === 13) {
						Console.log("HEYYYY!!!");
						}
					}); 