extends layout

block content
	script(src='/js/main-sketch.js')
	//- h1 LF
	//- .nes-container.is-dark.with-title.box1
	//- 	p Good morning. Thou hast had a good night&apos;s sleep, I hope.



	//- if user
	//- 	.ui.black.segment.inverted
	//- 		h1.ui.header.inverted Users
	//- 		br
	//- 		hr
	//- 		.ui.red.segment.inverted
	//- 			table#myTable2.ui.celled.table
	//- 				thead
	//- 					tr
	//- 						th Name
	//- 						th Shift
	//- 						th ID
	//- 						th Email
	//- 				tbody
	//- 					each user, i in users
	//- 						tr
	//- 							td= user.name
	//- 							td= user.shift
	//- 							td
	//- 								a(href='#')= user._id
	//- 							td= user.email

