doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title The Larry Farmer Project
		link(rel="icon", href="img/lfp-favicon.ico")
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet")
		style.
			body {
				background-color: black;
				font-family: Arial, sans-serif;
			}
			.container {
				//- padding: 5rem 0;
			}
			.album-cover {
				display: block;
				margin: 0 auto;
				max-width: 100%;
				border-radius: 0.5rem;
			}
			h1 {
				font-size: 2.5rem;
				margin-top: 2rem;
			}
			p {
				font-size: 1.25rem;
				margin-bottom: 0.5rem;
			}
			.streaming-platforms {
				display: flex;
				flex-direction: column;
			}
			.streaming-platforms a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1.5rem 0;
				border-radius: 0.5rem;
				text-decoration: none;
				color: #fff;
				background-color: black;
				transition: background-color 0.3s ease;
			}
			.streaming-platforms a img {
				margin-right: 0.5rem;
				width: 90%;
				height: auto;
				object-fit: cover; 
			}
			.streaming-platforms a:hover {
				background-color: grey;
			}
	body
		.container
			.row.justify-content-center
				.col-lg-6.col-md-4.col-sm-12.text-center
					h1.text-white The Larry Farmer Project
			.row.justify-content-center
				.col-lg-12.col-md-12.col-sm-12.text-center
					img.album-cover(src="img/lfp_albumcover.png", alt="album cover")
					p.text-white Check out my new album on all your favorite streaming platforms.
					.streaming-platforms
						.row
							.col
								a(href="https://open.spotify.com/artist/5lSkMZwggAkpAnjczvAxR6?si=KRX10BcqTkK-Mvy0DSGb5g", target="_blank")
									img(src="img/Spotify_Logo_CMYK_Green.png", alt="Spotify")
						.row
							.col
								a(href="https://music.apple.com/us/artist/larry-farmer-project/1691106894", target="_blank")
									img(src="img/apple-music-logo.svg", alt="Apple Music")
						.row
							.col
								a(href="https://music.youtube.com/playlist?list=OLAK5uy_l7kzn8w-JOEcp-DzXY9cFSGrQRFyZ8s90", target="_blank")
									img(src="img/youtube-logo.png", alt="Youtube Music")
						.row
							.col
								a(href="https://music.amazon.com/albums/B0C749TH28", target="_blank")
									img(src="img/amazon-music-logo.png", alt="Amazon Music")
						.row
							.col
								a(href="https://www.deezer.com/us/album/449547205", target="_blank")
									img(src="img/deezer-logo.png", alt="Deezer")
						.row
							.col
								a(href="#", target="_blank")
									img(src="img/tidal-logo.png", alt="Tidal")
	script.
		// Add a click event listener to all the links on the page
		const links = document.querySelectorAll('a');
		links.forEach(link => {
		link.addEventListener('click', () => {
			const clickedLink = link.href;
			// Send an HTTP request to your server with the clicked link
			fetch('/lfp-logs', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ clickedLink })
			})
			.then(response => {
				if (response.ok) {
				console.log('Logged successfully');
				} else {
				console.error('Logging error:', response.status);
				}
			})
			.catch(error => console.error('Logging error:', error));
		});
		});

