doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title #{title}
		link(rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico')
		script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js')
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
		link(rel='stylesheet' href='/css/style.css')
		script(src='https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js')
	body.Site
		.Site-content
			.ui.inverted.six.item.menu
				a(href="/")
					i.large.link.circular.inverted.home.loading.icon
				a.item(href='/sketches')
					| Sketches
				a.item(href='https://game.lucasfarmer.com')
					| Game
				a.item(href='/bindornaw')
					i.large.link.inverted.barcode.icon
				a.item(href='/about')
					| About
				a(href="https://www.youtube.com/channel/UCDaGLN8euSKTt15-BRUKp0A/videos")
					i.large.link.circular.inverted.youtube.loading.icon
			.ui.grid
				.row.centered
					.ui.inverted.segment
						p(style="text-align:center") Your IP address is not: #{userIp}
			block content
		.ui.inverted.segment
			footer.footer
				.ui.container
					| Created and maintained by 
					a(href="https://lucasfarmer.com") Lucas Farmer 
					| Copywrong &copy; 2022.
			script(src='/js/main.js')
			//- script(src='/js/randomtext.js')
			//- script(src='/js/s98Zxcvb/etch.js')
			//- script(src='/js/vehicle.js')
			script(src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js')
			link(rel="stylesheet", href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css')
			script.
				//- $('.ui.modal')
				//- 	.modal('show')
				//- ;
				$(document).ready(function(){
					$('.outline.icon').click(function(){
						$('.ui.basic.modal').modal({
							centered: true
						}).modal('show');
						});
					});