extends layout

block content
	h1 SKTCHZ
		script(src='/js/evo/sketch.js')
		script(src='/js/evo/vehicle.js')





	
	//- .ui.black.segment.inverted
	//- 	h1.ui.header.inverted Users
	//- 	br
	//- 	hr
	//- 	.ui.red.segment.inverted
	//- 		table#myTable2.ui.celled.table
	//- 			thead
	//- 				tr
	//- 					th Name
	//- 					th Shift
	//- 					th ID
	//- 					th Email
	//- 			tbody
	//- 				tr
	//- 					td= name
	//- 					td= shift
	//- 					td
	//- 						a(href='#')= _id
	//- 					td= email

