body.Site {
	/* background: url("/img/djxvz6r.jpg") no-repeat fixed; */
  
  background-color: rgb(85, 107, 47);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.table-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ui.modal {
  top: 25% !important;
  right: 25% !important;
  transform: translateX(-50%);
  }
.centered {
  text-align: center;
}
input{
  text-align: center;
}
.box1 {
  margin: 1rem !important;
  border: 10px solid #000 !important;
}
p {
	color: rgb(255, 255, 255);
  font-family: 'Syncopate';font-size: 1rem;font-weight:800;
}
h1 {
  text-align: center;
  margin-top: 5% !important;
	font-family: 'Syncopate';font-size: 20vw;font-weight:800;
	color: darkgreen;
}
.rightcard {
  right: 2em;
  text-align: right;
}
.menu {
	font-family: 'Syncopate';font-size: 15px;font-weight:800;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.footer {
  font-size: 1.5vh;
  text-align: center;
  color: white;
}
#headerimg {
	padding: 1em;
	width:12rem;
	height:15rem;
}
/*img:hover {
  -webkit-filter: hue-rotate(240deg) saturate(3.3);
}	*/
#demo {
  text-align:center;
}
.menu {
  text-align: center;
}
.ipseg {
  margin-top:0.5em
}
